<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.startapp.id">

    <!--mendapatkan akses jaringan penuh-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--memasangkan dengan perangkat Bluetooth-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <!--jalan saat nyala awal-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="false">

        <activity
            android:name=".SplashscreenActivity"
            android:theme="@style/NoBar">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme" />
		<activity
			android:name=".SettingsActivity"
			android:theme="@style/NoBar"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>
		
		<meta-data
			android:name="com.startapp.sdk.APPLICATION_ID"
			android:value="@string/id_ads" />
		<meta-data
			android:name="com.startapp.sdk.RETURN_ADS_ENABLED"
			android:value="false" />

    </application>

</manifest>
